<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="dev" value="..\PackageTest\packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="dev">
      <package pattern="BytecodeAlliance.Componentize.DotNet.WitBindgen" />
      <package pattern="BytecodeAlliance.Componentize.DotNet.Wasm.SDK" />
    </packageSource>
  </packageSourceMapping>
</configuration>
